/STWC Timesheet/STWC Timesheet/bin
/STWC Timesheet/STWC Timesheet/obj
STWC Timesheet/STWC Timesheet.suo
/STWCSetup/Debug
/STWCSetup/Release
/STWC Timesheet/*.suo
/STWC Timesheet/KeyGenerator/bin
/STWC Timesheet/KeyGenerator/obj
