@model STWC_Timesheet.Models.RegisterModel
@{
    ViewBag.Title = "Reports";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <section class="regsection">
        <h6>Report Customization as per clients requirement ...</h6>
    </section>
        
    @Html.ValidationSummary()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
