@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+91 81509 99905</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+91 99809 96959</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@qualitylabs.com">Support@qualitylabs.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@qualitylabs.com">Marketing@qualitylabs.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@qualitylabs.com">General@qualitylabs.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Quality Labs<br />
        No 10, K.E.B Road,<br />
        Newpet, Anekal.<br />
        Bangalore - 562106
    </p>
</section>