@{
    ViewBag.Title = "STWC";
}
@if (ViewBag.IsRegistered)
{
    <h1>
        Application is registered</h1>
}
else
{
    <h1>
        Application is not registered</h1>
    <form action="/" method="post">
    <table>
        <tr>
            <td>
                Serial Key:
            </td>
            <td>
                <input type="text" name="SerialKey" value="@ViewBag.SerialKey" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td>
                Activation Key:
            </td>
            <td>
                <input type="text" name="ActivationKey" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
            <font color="red">@ViewBag.Error</font> 
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
    </form>
}